# Configuration and Secrets
config.yml
*.pem
*.json
.env

# Logs and State
tunnel.log
tunnel.pid
*.log
.tunnelflare/

# Python
__pycache__/
*.pyc
venv/
.venv/
env/
dist/
build/
build_deb/
*.egg-info/
*.spec
*.deb

# IDEs
.vscode/
.idea/
.DS_Store
